body {
  font-family: "Open Sans", sans-serif;
  color: #444444;

  
}

a {
  color: #ffc107;
  text-decoration: none;
}

a:hover {
  color: #ffce3a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffc107;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #ffcb30;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
 
}
#header.header-transparent {
  background: transparent;
  height: auto;
}
#header.header-scrolled {
  padding: 15px 0;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  transition: 0.3s;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/*--------------------------------------------------------------
# top Section
--------------------------------------------------------------*/
#top {
  width: 100%;
  height: 100vh;
  background: url("../img/top10.jpg") top center;
  background-position: center;
  background-size: cover;
  margin-right: 0;
  margin-left: 0;
  top: 0; 
  left: 0; 
  margin-top: 0;
}

/* #top:before {
  content: "";
  height: 101vh;
  background: rgba(50, 53, 69, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

} */
#top .container {
  text-align: center;

}
@media (max-width: 992px) {
  #top .container {
    padding-top: 0;
    
  }
}
#top h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#top h4 {
  color: #eee;
  font-size: 18px;
}


#top .btn-readmore {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 0;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
}
#top .btn-readmore:hover {
  background: #ffc107;
}
@media (min-width: 1024px) {
  #top {
    background-attachment: fixed;

  }
} 
 @media (max-width: 768px) {
  #top {
    height: 100vh;
  }
  #top h1 {
    font-size: 45px;
    line-height: 50px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f7f8fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffc107;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
  font-weight: 700;
  font-size: 34px;
  color: #414c64;
}
.about h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.about i {
  font-size: 25px;
  margin-top: 15px;
  color: #8b97b3;
}
.about p {
  font-size: 16px;
  line-height: 1.7;
  color: #848484;
}

/*--------------------------------------------------------------
#skills
--------------------------------------------------------------*/
.skills .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}
.skills .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
  background: #f5f5f5;
  border-radius: 50px;
}
.skills .icon-box .icon i {
  font-size: 32px;
  transition: 0.5s;
  line-height: 1;
  position: relative;
}
.skills .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}
.skills .icon-box h4 a {
  color: #414c64;
  transition: ease-in-out 0.3s;
}
.skills .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.skills .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}



/*--------------------------------------------------------------
# project
--------------------------------------------------------------*/
.projects .card {
  text-align: left;
  padding: 15px 20px 20px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.projects h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.projects small{
  font-size: 13px;
  font-style: italic;
}

.projects p {
  /* line-height: 24px; */
  font-size: 14px;
  margin-bottom: 0;
}









/*--------------------------------------------------------------
# certif
--------------------------------------------------------------*/
.certif .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(65, 76, 100, 0.06);
}
.certif .cert .certif-img {
  position: relative;
  overflow: hidden;

}

.certif .cert .certif-info {
  padding: 5px 15px;
 
}
.certif .cert .certif-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
  font-size: 15px;
  color: #414c64;
}

.certif .cert .certif-info h3 {
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
  font-size: 20px;
  color: #414c64;
}
.certif .cert .certif-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
  text-align: left;
}
.certif .cert .certif-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #414c64;
  font-size: 14px;
  background: #f4f5f8;
}

.copyright {
  padding: 15px;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #aaaaaa;
  
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e1e4ec;
  color: #5f6f92;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #ffce3a;
  text-decoration: none;
}